<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h2>ユーザー詳細</h2>
  <p><%= render 'stats', user: @user %></p>
      <div class="container-child mt10 mb30">
        <p class="prof_pic mb10"><%= profile_img(@user) %></p>
        <p class="mb10"><%= @user.email %></p>
        <p><%= render 'follow_form', user: @user %></p>
      </div>
      <%= link_to '戻る', users_path %>
  </div>
</div>
